%h1 Controlador de cultivos de interior

= partial 'calesita'
= partial 'cajas'

.row-fluid.libertad
  .span6.soft
    = image_tag(lorem.image('500x500', text: 'Software libre'))
  .span6.hard
    = image_tag(lorem.image('500x500', text: 'Hardware libre'))

.row-fluid
  .caja
    .span12
      %p= lorem.paragraph

.row-fluid.ventas
  .caja
    .span12
      %p ventas at cultibot.com.ar
