!!! 5
%html{'xml:lang' => 'es_AR', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= data.sitio.titulo
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag     "application", media: 'all'
    = javascript_include_tag  "application"
    = favicon_tag image_path(lorem.image('16x16')), type: 'image/png'
    = favicon_tag image_path(lorem.image('144x144')), type: 'image/png', rel: 'apple-touch-icon'
  %body
    #contenedor
      #cabecera.navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container
            = link_to data.sitio.titulo, '/', class: 'brand'
            %a.btn.btn-navbar{data: { toggle: "collapse", target: ".nav-collapse" }}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav-collapse.collapse
              %ul.nav
                %li= link_to 'Sensible',    '#sensible'
                %li= link_to 'Puntual',     '#puntual'
                %li= link_to 'Extensible',  '#extensible'
                %li= link_to 'Nacional',    '#nacional'

      #contenido.container
        .row-fluid
          .span12
            = yield
